body
{
color:white;
background-color:black;
}
h1
{
border-width:4px;
border-color:#FF0000;
border-style:double;
color:black;
background-color:red;
font-family:verdana,sans-serif;
}
p
{
border-width:8px;
border-color:#FFFF00;
border-style:double;
color:black;
background-color:yellow;
font-family:verdana,sans-serif;
}